concurrent = 1
check_interval = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "GDK local runner"
  url = "<%= "#{config.__uri}" %>"
  token = "<%= config.runner.token %>"
  executor = "docker"
  [runners.custom_build_dir]
  [runners.docker]
    tls_verify = false
    image = "alpine:latest"
    privileged = true
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["<%= ENV['HOME'] %>/.docker/certs.d:/etc/docker/certs.d", "/certs/client", "/cache"]
    shm_size = 0
    pull_policy = "if-not-present"
    extra_hosts = <%= config.runner.extra_hosts %>
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
